@using Support
@using Support.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@* <div> *@
@*     @Html.LabelFor(model => model.Role) *@
@*     @Html.DropDownListFor(model => model.Role, new SelectList(Enum.GetValues(typeof(Role))), "-- Select Role --") *@
@* </div> *@